<template>
  <div class="grid grid-cols-1 gap-2 md:grid-cols-4">
    <bookmark
      v-for="bookmark in bookmarks"
      :key="bookmark.name"
      :href="bookmark.url"
      :name="bookmark.name"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      bookmarks: [
        { name: "/r/linux", url: "https://old.reddit.com/r/linux" },
        { name: "YouTube", url: "https://www.youtube.com/feed/subscriptions" },
        { name: "Udemy", url: "https://udemy.com" },
        { name: "Twitch", url: "https://twitch.tv" },
        { name: "Amazon", url: "https://amazon.in" },
        { name: "OnlineSBI", url: "https://onlinesbi.com" },
        { name: "SteamDB", url: "https://steamdb.info/sales/?min_discount=0&min_rating=0&cc=in" },
        { name: "Nintendo Sales", url: "https://www.nintendo.com/games/sales-and-deals/" },
        { name: "Dribbble", url: "https://dribbble.com" },
        { name: "Sourcehut", url: "https://sr.ht" },
        { name: "Gitlab", url: "https://gitlab.com" },
      ]
    };
  },
}
</script>
