<template>
  <a :href="url" class="card m-2 cursor-pointer rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200 border-4 border-white text-white text-center hover:bg-white hover:text-black">
    <div class="m-3">
      <h2 class="text-lg mb-2 font-mono font-semibold subpixel-rendering">
        {{ name }}
      </h2>
    </div>
  </a>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
  }
}
</script>
